
@{
	var selection = Umbraco.Content(Guid.Parse("514aa1f1-e4e9-4da0-a679-f4d319c9a3a4"))
    .ChildrenOfType("articlesItem")
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

