@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AboutUs>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}


	<section class="about-us">
		    @Html.GetGridHtml(Model, "aboutUsGrid")
    </section>