@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<!-- Main -->
<section id="main" class="wrapper">
 

        <header class="container pt-4 pb-4">
            <h2>@Model.Value("projectTitle")</h2>
            <h2>@Model.Value("projectDescription")</h2>
            <h2>@Model.Value("projectStatus")</h2>
        </header>

   
        
   
</section>